@import 'reset.scss';
@import 'variables/globals.scss';
@import 'themes/light.scss';
@import 'themes/dark.scss';

.app {
    font: var(--font-m);
    background: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
}

.content-page {
    display: grid;
    grid-template-columns: auto 1fr;
}

.page-wrapper {
    padding: 20px;
}