.button {
  cursor: pointer;
  color: var(--color-text-primary);
  padding: 6px 12px;
  background: var(--color-primary);
  border: 1px solid var(--color-primary);

  &:hover {
    cursor: pointer;
    background-color: var(--color-primary-dark);
  }

  &:active {
    opacity: 0.8;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;

    &:hover {
      background-color: var(--color-primary);
    }
  }
}

.clear {
  padding: 0;
  border: none;
  background: none;
  outline: none;

  &:hover {
    background: none;
  }
}

.outline {
  border: 1px solid var(--color-primary);
  background: none;
  color: var(--color-primary);
}

.background {
  border: none;
  background: var(--color-background-main);
  color: var(--color-primary);
}

.backgroundContent {
  border: none;
  background: var(--color-background-content);
  color: var(--color-text-primary);

  &:hover {
    background: var(--color-background-content);
  }
}

.square {
  padding: 0;

  &.size_m {
    width: var(--font-line-m);
    height: var(--font-line-m);
  }

  &.size_l {
    width: var(--font-line-l);
    height: var(--font-line-l);
  }

  &.size_xl {
    width: var(--font-line-xl);
    height: var(--font-line-xl);
  }
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}
