:root[data-theme='dark'] {
  --bg-color: #121212;
  --inverted-bg-color: #282828;
  --primary-color: #a688fa;
  --secondary-color: #382bf0;
  --inverted-primary-color: #f3f3f3;
  --inverted-secondary-color: #0449e0;
}
