:root[data-theme='dark'] {
  // PRIMARY COLORS
  --color-primary: hwb(256deg 54% 2%); // #a88afa
  --color-primary-dark: hwb(254deg 45% 3%); // #9273f7
  --color-primary-light: hwb(258deg 62% 2%); // #ba9efa

  // SECONDARY COLORS
  --color-secondary: hwb(25deg 30% 14%); // #DB884D

  // BACKGROUND COLORS
  --color-background-main: hwb(0deg 7% 93%); // #121212
  --color-background-content: hwb(0deg 16% 84%); // #292929
  --color-surface-300: hwb(0deg 25% 75%); // #404040
  --color-surface-400: hwb(0deg 34% 66%); // #575757
  --color-surface-500: hwb(0deg 44% 56%); // #707070
  --color-surface-600: hwb(0deg 55% 45%); // #8c8c8c

  // TEXT COLORS
  --color-text-primary: #e1e3e6; // #e1e3e6

  // warniing color A41D39
}
