.app.light {
  --bg-color: #f3f3f3;
  --inverted-bg-color: #cfcfcf;
  --primary-color: #121212;
  --secondary-color: #0449e0;
  --inverted-primary-color: #382bf0;
  --inverted-secondary-color: #04ff04;
}
